@mixin flex($dir: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $dir;
}

.ProductDetailSection {
    width: 100%;
    min-height: 60vh;
    margin-bottom: 50px;
    padding-top: 60px;
    @include flex();
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;

    .productPart {
        width: 100%;
        @include flex();
        gap: 50px;

        .imagesWrapper {
            @include flex(column);
            // flex-direction: row-reverse;
            justify-content: flex-start;
            gap: 10px;

            .mainImgContainer {
                width: 400px;
                min-height: 300px;
                @include flex();
                flex-direction: column;
                position: relative;

                .discountBadge {
                    position: absolute;
                    width: 60px;
                    height: 60px;
                    z-index: 1;
                    left: 40px;
                    top: -24px;
                    transform: rotate(-10deg);
                    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
                    background-color: orangered;
                    @include flex();
                    font-weight: 700;
                    color: #fff;
                    font-size: 22px;
                }

                img {
                    border-radius: 7px;
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                svg {
                    transform: scale(3);
                }

            }

            .otherImages {
                padding: 7px 20px;
                min-width: 150px;
                height: 70px;
                @include flex();
                gap: 15px;
                background: linear-gradient(30deg, #0bcbbe, #03746c);
                border-radius: 8px;

                img {
                    width: 70px;
                    height: 50px;
                    border-radius: 8px;
                    cursor: pointer;

                    &.active {
                        border: 5px solid gold;
                        box-shadow: 2px 2px 10px gold;
                    }
                }
            }
        }

        .productDetailContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            height: 100%;
            padding-top: 20px;
            padding-left: 20px;
            width: 450px;

            .productCategory {
                color: #adadad;
                font-size: 18px;
            }

            .ProductTitle {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: #555;
                font-size: 32px;
                font-weight: 700;
            }

            .detailRow {
                @include flex();
                justify-content: space-between;
                width: 350px;

                .price {
                    @include flex();
                    font-size: 32px;
                    font-weight: 600;
                    color: #00006d;
                }

                .starsBox {
                    svg {
                        font-size: 20px;
                    }

                    .coloredStar {
                        color: var(--main-color);
                    }

                    .greyStar {
                        color: #adadad;
                    }
                }

                .review {
                    font-weight: 600;
                    color: #555;
                }
            }

            .description {
                padding: 15px 0;
                position: relative;
                width: 85%;
                text-indent: 20px;
                text-align: center;
                color: #555;

                &::selection {
                    background-color: var(--main-color);
                    color: #fff;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #d1d1d1;
                    border-radius: 5px;
                    height: 3px;
                    width: 100%;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: #d1d1d1;
                    border-radius: 5px;
                    height: 3px;
                    width: 100%;
                }
            }

            .btnBox {
                width: 100%;
                height: 60px;
                @include flex();

                .addBtn {
                    border: none;
                    outline: none;
                    width: 80%;
                    height: 40px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    border-radius: 5px;
                    color: #fff;
                    background: linear-gradient(30deg, #003500, #009b00);
                    background: var(--main-color);
                }
            }
        }
    }

    .your_comment {
        @include flex();
        gap: 15px;
        justify-content: flex-start;
        flex-direction: column;
        width: 60%;
        min-height: 100px;
        margin-top: 50px;

        h4 {
            font-size: 30px;
            font-family: cursive;
        }

        textarea {
            width: 70%;
            min-height: 50px;
            resize: none;
            appearance: none;
            border: none;
            outline: none;
            background-color: #c0f9f5;
            border-radius: 10px;
            padding: 14px;
            border: #06a99d 4px groove;
            font-size: 18px;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: .5s;

            &.showInput {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }

        button {
            border: none;
            outline: none;
            border-radius: 5px;
            width: 150px;
            height: 40px;
            font-size: 24px;
            background-color: var(--main-color);
            color: #fff;
            font-weight: 600;
            transform: scale(0);
            transition: .5s;

            &.showBtn {
                transform: scale(1);
            }
        }
    }

    .commentsWrapper {
        @include flex(column);
        justify-content: flex-start;
        width: 80%;
        min-height: 100px;
        position: relative;
        padding-top: 40px;
        padding-bottom: 50px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 3px;
            border-radius: 10px;
            background-color: var(--main-color);
        }

        .commentsHeader {
            font-weight: 700;
            font-size: 40px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .commentsContainer {
            @include flex(column);
            gap: 40px;
            justify-content: flex-start;
            width: 90%;
            background-color: #fff;
            border-radius: 10px;
            padding-top: 50px;

            .commentItem {
                @include flex(column);
                align-items: flex-start;
                width: 700px;
                min-height: 100px;
                border-radius: 15px;
                padding: 20px 40px;
                gap: 14px;
                background: linear-gradient(45deg, #f3f3f3, #fffefb);
                box-shadow: 7px -7px 22px #e2e2e2,
                    -7px 7px 22px #ffffff;
                transform: translateX(-50px);

                &.admin {
                    transform: translateX(50px);
                    background: #06a99d;
                    box-shadow: -7px -7px 22px #e2e2e2,
                    7px 7px 22px #ffffff;
                    color: #fff;

                    .bodyPart {
                        color: #eee;
                    }
                }

                .row1 {
                    width: 90%;
                    padding-left: 20px;
                    @include flex();
                    justify-content: space-between;

                    .authorBox {
                        font-size: 22px;
                        display: flex;
                        gap: 5px;
                    }

                    .commentRate {
                        @include flex();
                        gap: 5px;
                        font-family: pac;
                        font-size: 32px;
                        color: #00006d;
                    }
                }

                .end {
                    width: 100%;
                    @include flex();

                    .time {
                        font-family: pac;
                        font-size: 24px;
                        color: #00006d;
                    }
                }

                .bodyPart {
                    font-family: acm;
                    color: #777;
                    font-size: 22px;
                    text-align: justify;
                    text-indent: 30px;
                }
            }
        }
    }
}