.userList {
  margin: 60px 0 0 280px;
  /* background-color: #EAFDFA; */
  background-color: #F3EADA;
  min-height: 100vh;
  color: #000 ;

}


.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #06a99d;
  margin-right: 20px;
  cursor: pointer;
}

.disabled {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #06a99d;
  margin-right: 20px;
  cursor: pointer;
  opacity: 0.7;
}
.userListChecked {
  padding-left: 2px;
}
.createBtn {
  display: flex;
  justify-content: end;
}

#productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  color: #fff;
  background-color: #06a99d;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px;
}

.OrderForm button {
  background-color: #06a99d;
  width: 100px;
  font-size: 1rem;
  border: none;
  margin-left: 50px;
}

.OrderForm button:hover {
  background: #8F0070;
  color: white;
}

.OrderFormContainer {
  padding: 0 5px;
  border: 0.4px solid rgb(201, 201, 201);
}

.todo-button {
  margin: 5px;
  width: 80px;
  border-radius: 5px;
  height: 35px;
}

.OrderForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 4px;
}

.formLeftInputs{
    width: 610px;
    display: flex;
    justify-content: space-between;
}
.formBtn{
    width: 100%;
    text-align: end;
}
.OrderForm input {
  background-color: #f6f6f6;
  border: none;
  border-bottom: 2px solid rgb(155, 155, 155);
  border-bottom: 2px solid #8f0070;
  /* border-bottom: 1px solid #8F0070; */
  border-radius: 4px;
  height: 40px; 
  margin: 9px 0px;
  width: 98%;
}

.formRightInputs{
  padding: 0;
  width: 98%;
  display: flex;
}
#todo-input-title {
  margin: 9px 10px 9px 0;
}
/* #todo-input-price {
  width: 250px;
}
#todo-input-date {
  width: 250px;
} */
/* #todo-input-producterN {
} */
