.pageContentWrapper {
  padding-inline: 30px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.disabled {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: #fff;
  background-color: #06a99d;
  margin-right: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.userListChecked {
  padding-left: 2px;
}

.newOrderBtn {
  width: 300px;
  border: none;
  padding: 5px;
  color: #fff;
  background-color: #009842;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 30px;
}

.addProducrBtn {
  border: none;
  padding: 5px 8px;
  color: #fff;
  background-color: #009842;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
}

.formBody {
  width: max-content;
  height: max-content;
}

.formBody .itemsRow {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: lemon;
  color: #999;
}

.modal_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #55555583;
  z-index: 999;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_bg .OrderForm,
.modal_bg .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 800px;
  padding: 30px;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.modal_bg .content {
  position: relative;
  padding-bottom: 40px;
}

.modal_bg .content .closeBtn {
  position: absolute;
  color: #fff;
  background-color: #d40000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 30px;
}

.modal_bg .content .question {
  font-family: lemon;
  font-size: 22px;
}

.modal_bg .content .createTime {
  font-family: pac;
  margin-bottom: 10px;
  font-size: 25px;
  color: #777;
}

.modal_bg .content .table {
  width: 90%;
  margin-top: 30px;
}

.modal_bg .content .table thead td {
  text-align: center;
  padding-block: 10px;
  font-family: acm;
  font-size: 18px;
  background-color: var(--main-color);
  color: #fff;
}

.modal_bg .content .table tbody tr td {
  background-color: #fff;

  &:nth-child(1) {
    background-color: var(--main-color);
  }
}

.modal_bg .OrderForm .form_title {
  font-family: pac;
  font-size: 35px;
  text-align: center;
  width: 400px;
  font-weight: 600;
  cursor: default;
  margin-bottom: 20px;
}

.modal_bg .OrderForm .formInputsRow {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.modal_bg .OrderForm .formInputsRow input {
  width: 40%;
  background-color: #f6f6f6;
  border: none;
  outline: none;
  border-bottom: 2px solid #8f0070;
  border-radius: 4px;
  padding-inline: 10px;
  height: 40px;
  text-align: center;
  font-family: acm;
}

.modal_bg .OrderForm .formInputsRow input::placeholder {
  color: #a8a8a8;
}

.modal_bg .OrderForm .formInputsRow input[type="date"] {
  width: 400px;
  text-align: center;
}

.modal_bg .OrderForm .formInputsRow .submit_btn,
.modal_bg .OrderForm .formInputsRow .cancelBtn {
  width: 140px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  font-family: lemon;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal_bg .OrderForm .formInputsRow .submit_btn {
  background-color: #009842;
}

.modal_bg .OrderForm .formInputsRow .cancelBtn {
  background-color: #d40000;
}

.OrderForm button:hover {
  background: #8F0070;
  color: white;
}

/* table styles  */

.userListTable {
  width: 100%;
  background-color: #f9fffd;
  animation: 0.5s linear show;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.userListTable .table_header th {
  background-color: var(--main-color);
  font-family: cursive;
  font-size: 18px;
  color: #f5f1f1;
  padding: 10px;
  text-align: center;
  border-right: 3px solid #e5e5e5;
}

.userListTable .table_body tr {
  border-top: 3px solid #fff;
}

.userListTable .table_body tr:hover {
  background-color: #ecfffb;
}

.userListTable .table_body tr td {
  font-family: acm;
  font-size: 18px;
  color: #555;
  padding: 15px 0;
  text-align: center;
}

.userListTable .table_body tr td:nth-child(1) {
  background-color: var(--main-color);
  color: #fff;
}