.chart {
  margin: 15px;
  padding: 20px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.95);
  background-color: #eafdfa;
  background-color: #eafdfa;
  
  /* background-color: #f3eada; */
  width: 95%;
  width: 97%;
  
}

.chartTitle {
  margin-bottom: 20px;
  font-size: 20px;
}
