@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'pac';
  src: url('/font/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'acm';
  src: url('/font/Acme-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'lemon';
  src: url('/font/Lemon-Regular.ttf') format('truetype');
}

body {
  width: 100%;
  overflow-x: hidden;
}

:root {
  --main-color: #06a99d;
  --box-shd: 3px 3px 5px #dedede, -3px -3px 5px #dedede, -3px 3px 5px #dedede, 3px -3px 5px #dedede;
}

::-webkit-scrollbar {
  width: 1rem;
  background-color: #d7fafa;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
  border: 3px solid #d7fafa;
}