.questionSection {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.questionSection .left_container {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.questionSection .left_container .pageTitle {
  font-family: sans-serif;
  letter-spacing: 0.4px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  margin: 50px 0;
}
.questionSection .left_container .form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.questionSection .left_container .form .input_container {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  width: 430px;
  border: none;
}
.questionSection .left_container .form .input_container .input {
  background-color: #F1F2F2;
  width: 330px;
  height: 44px;
  border-color: grey;
  border: 2px solid #dfdfdf;
  border-radius: 0px 15px 15px 0px;
  outline: none;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 600;
}
.questionSection .left_container .form .input_container .input_label {
  width: 120px;
  height: 44px;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  padding: 5px 0px 5px 0px;
  font-size: 25px;
  border: 2px solid var(--main-color);
  border-radius: 15px 0px 0px 15px;
}
.questionSection .left_container .form .textarea_container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  border: none;
  height: 180px;
}
.questionSection .left_container .form .textarea_container > .input_label {
  text-align: start;
  color: var(--main-color);
  margin-left: 20px;
  font-size: 21px;
  font-weight: 600;
}
.questionSection .left_container .form .textarea_container .textArea {
  background-color: #F2F2F2;
  border: 3px solid #2577E5;
  width: 424px;
  height: 140px;
  border-radius: 10px;
  outline: none;
  padding: 10px;
}
.questionSection .left_container .form .submit_input {
  align-self: center;
  font-weight: 200;
  color: white;
  font-weight: 700;
  border: 2px solid #0166FF;
  background-color: #0166FF;
  width: 200px;
  height: 45px;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
}
.questionSection .right_container {
  width: 54%;
}
.questionSection .right_container .image_container {
  position: relative;
}
.questionSection .right_container .image_container .image {
  opacity: 0.9;
}

@media screen and (max-width: 1250px) {
  .questionSection .right_container {
    width: 50%;
  }
  .questionSection .right_container .image_container {
    width: 100%;
  }
  .questionSection .right_container .image_container .image {
    width: 100%;
  }
  .questionSection .left_container {
    width: 50%;
  }
}
@media screen and (max-width: 1050px) {
  .questionSection .right_container {
    width: 45%;
  }
  .questionSection .right_container .image_container {
    width: 100%;
  }
  .questionSection .left_container {
    width: 55%;
  }
}
@media screen and (max-width: 900px) {
  .questionSection .right_container {
    display: none;
  }
  .questionSection .left_container {
    width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .questionSection .left_container .form .input_container {
    height: 40px;
    width: 330px;
    align-self: center;
  }
  .questionSection .left_container .form .input_container .input {
    width: 250px;
    height: 36px;
  }
  .questionSection .left_container .form .input_container .input_label {
    width: 100px;
    font-size: 18px;
    height: 36px;
  }
  .questionSection .left_container .form .textarea_container {
    width: 330px;
  }
  .questionSection .left_container .form .textarea_container .textArea {
    width: 324px;
  }
}
@media screen and (max-width: 450px) {
  .questionSection .left_container .pageTitle {
    font-size: 32px;
  }
  .questionSection .left_container .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .questionSection .left_container .form .input_container {
    height: 36px;
    width: 100%;
    align-self: center;
  }
  .questionSection .left_container .form .input_container .input {
    width: 240px;
    height: 32px;
  }
  .questionSection .left_container .form .input_container .input_label {
    width: 90px;
    font-size: 14px;
    height: 32px;
  }
  .questionSection .left_container .form .textarea_container {
    width: 100%;
    padding: 0 20px;
  }
  .questionSection .left_container .form .textarea_container .textArea {
    width: 100%;
  }
  .questionSection .left_container .form .submit_input {
    width: 150px;
    height: 37px;
    font-size: 16px;
  }
}/*# sourceMappingURL=ConsultationPageComponent.module.css.map */