.questionSection {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;

    .left_container {
        width: 46%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pageTitle {
            font-family: sans-serif;
            letter-spacing: 0.4px;
            text-align: center;
            font-size: 40px;
            font-weight: 900;
            margin: 50px 0;
        }

        .form {
            display: flex;
            flex-direction: column;
            text-align: center;

            .input_container {
                margin-bottom: 15px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 40px;
                width: 430px;
                border: none;

                .input {
                    background-color: #F1F2F2;
                    width: 330px;
                    height: 44px;
                    border-color: grey;
                    border: 2px solid #dfdfdf;
                    border-radius: 0px 15px 15px 0px;
                    outline: none;
                    padding: 0 10px;
                    font-size: 20px;
                    font-weight: 600;
                }

                .input_label {
                    width: 120px;
                    height: 44px;
                    text-align: center;
                    font-weight: 500;
                    font-style: italic;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--main-color);
                    padding: 5px 0px 5px 0px;
                    font-size: 25px;
                    border: 2px solid var(--main-color);
                    border-radius: 15px 0px 0px 15px;
                }
            }

            .textarea_container {
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 430px;
                border: none;
                height: 180px;
                
                &>.input_label {
                    text-align: start;
                    color: var(--main-color);
                    margin-left: 20px;
                    font-size: 21px;
                    font-weight: 600;
                }
                .textArea {
                    background-color: #F2F2F2;
                    border: 3px solid #2577E5;
                    width: 424px;
                    height: 140px;
                    border-radius: 10px;
                    outline: none;
                    padding: 10px;
                }
            }
            .submit_input {
                align-self: center;
                font-weight: 200;
                color: white;
                font-weight: 700;
                border: 2px solid #0166FF;
                background-color: #0166FF;
                width: 200px;
                height: 45px;
                border-radius: 15px;
                font-size: 20px;
                text-align: center;
            }
        }
    }

}

.right_container {
    width: 54%;
}

.image_container {
    position: relative;
}

// img {
//     position: absolute;
//     top: 15px;
//     right: 20px;
//     height: auto;
//     opacity: 0.9;
// }

@media screen and (max-width: 1250px) {
    .right-container {
        width: 50%;
    }

    .left-container {
        width: 50%;
    }

    .image-container {
        width: 100%;
    }

    img {
        width: 100%;
        padding: 10% 0;
    }
}

@media screen and (max-width: 1050px) {
    .right-container {
        width: 45%;
    }

    .left-container {
        width: 55%;
    }

    .image-container {
        width: 100%;
    }

    img {
        width: 100%;
        padding: 20% 0;
    }
}

@media screen and (max-width: 900px) {
    .right-container {
        display: none;
    }

    .left-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .input-container {
        height: 40px;
        width: 330px;
        align-self: center;
    }

    .input {
        width: 250px;
        height: 36px;
    }

    .input-label {
        width: 80px;
    }

    .textarea-container {
        width: 330px;
    }

    .textArea {
        width: 324px;
    }
}

@media screen and (max-width: 450px) {
    .input-container {
        height: 36px;
        width: 280px;
        align-self: center;
    }

    .pageTitle {
        font-size: 24px;
    }

    .input {
        width: 220px;
        height: 32px;
    }

    .input-label {
        width: 60px;
        font-size: 18px;
    }

    .textarea-container {
        width: 280px;
    }

    .textArea {
        width: 274px;
    }

    .submit-input {
        width: 150px;
        height: 37px;
        font-size: 16px;
    }
}