.sidebar {
  background-color: #06a99d;
  height: calc(100vh);
  position: sticky;
  padding: 50px 0 0 0;
  z-index: 999;
}

.sidebarWrapper {
  padding: 0px;
  color: #000000b0;
  color: #fff;
  
}

.sidebarMenu {
  padding-left: 20px;

  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(111, 66, 196);
  background-color: #F3EADA;
  color: #000000b0;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px;
}
.logoSidebar{
  /* background-color: red; */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.sidebarMenulogoSidebar{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  /* padding: 0; */

}
.sidebarTitleLogo{
  height: 60px;
  padding-top:30px ;
  font-weight: 600;
  
}