.customerOrdersList {
  flex: 4;
  padding: 20px;
  min-height: 100vh;
}

.customerOrdersListBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  padding: 20px 0;
  margin: 15px 0px;
  box-shadow: 0px -3px 5px 0px #888888;
  background-color: #eafdfa;
  /* background-color: yellow; */
}

.customerOrdersListOrders {
  background-color: #eafdfa;
  text-align: center;
}