.homePageContainer {
  flex: 4;
  width: 105%;
  padding: 0px;
  background-color: #fff;
  background-color: #c51919;
  /* background-color: #BFC1BC;
  background-color: #0c0c0c;
  background-color: #041b72  ;
  background-color: #1a1a1a  ;
  background-color: #2b2b2b  ; */
  min-height: 100vh;
  height: auto;
  /* left: 10px; */
}

.homePageContainer .todaySection {
  /* width: 100%; */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 100px; */
  /* margin-left: 30px; */
  /* margin-block: 50px; */
}
.homePageContainer .HomeCards-clock {
  /* width: 100%; */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 100px; */
  /* margin-left: 30px; */
  /* margin-block: 50px; */
}
/* 
.homePageContainer .todaySection .clockCircle {
  background: radial-gradient(#f8eec6, #d7ac00);
  color: #fff;
  font-family: pac;
  font-size: 24px;
  border-radius: 50%;
  cursor: default;
  box-shadow: 4px 4px 15px #ebebeb, -4px -4px 15px #ebebeb,
    -4px 4px 15px #ebebeb, 4px -4px 15px #ebebeb;
} */

.homePageContainer .todaySection .calender {
  background: linear-gradient(10deg, #ececec, #f4f2ef, #e2e2e2);
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 5px #d5d5d5;
}

/* .homePageContainer .HomeCards-clock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 90%;
  width: 50%;
  margin: 10px;
  margin-top: 80px;
} */
.homePageContainer .HomeCards-clock .HomeCards {
  display: flex;
  flex-wrap: wrap;
  /* gap: 40px; */
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  width: 90%;
  /* width: 50%; */
  margin: 1px;
  /* margin-top: 80px; */
  padding: 0px;

  /* padding: 20px 10px; */
}

.homePageContainer .HomeCards-clock .HomeCards .HomeCard {
  width: 155px;
  height: 120px;
  border: 1px solid #e4e3e3;
  border-radius: 5px 15px 5px 15px;
  background-color: #f4f2ef;
  position: relative;
  margin-right: 5px;
  margin-bottom: 18px;
}
.homePageContainer .HomeCards-clock .HomeCards .HomeCard:hover {
  /* width: 180px;
  height: 150px; */
  transform: scale(1.6, 1.4);

  transition: 0.8s;
  border: 1px solid #c5c5c5;
  border-radius: 5px 15px 5px 15px;
  background-color: #f4f2ef;
  /* box-shadow: 3px 8px 7px #c0c0c0, -3px -30px 7px #949494; */
  box-shadow: 3px 8px 5px #c0c0c0;
  z-index: 900;

  position: relative;
}

.homePageContainer .HomeCards-clock .HomeCards .HomeCard .icon-box {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 35px;
  position: absolute;
  left: 10px;
  top: -20px;
  box-shadow: 2px 2px 5px #dedede, -2px -2px 5px #dedede;
}

.homePageContainer .HomeCards-clock .HomeCards .HomeCard .card-title {
  width: 100%;
  padding: 10px;
  text-align: right;
  font-family: pac;
  font-size: 18px;
  cursor: default;
}

.homePageContainer .HomeCards-clock .HomeCards .HomeCard .count {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: pac;
}
.HomeCards-clock {
  display: flex;
  flex-direction: row;
}

.chartHome {
}
