.userList {
    flex: 4;
}

.userListUser {
    display: flex;
    align-items: center;
}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #3bb077;
    margin-right: 20px;
    cursor: pointer;
}

.userListDelete {
    color: red;
    cursor: pointer;
}