.userList {
    /* flex: 4; */
    margin: 100px 0 0 280px;
}

.userListUser {
    display: flex;
    align-items: center;
}

/* .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
} */

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #3bb077;
    margin-right: 20px;
    cursor: pointer;
}

.userListDelete {
    color: red;
    cursor: pointer;
}