.top-strip {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: var(--main-color);
    color: #fff;
    position: relative;

    .left-text {
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: -2px 0 4px #e6e6e6;
        cursor: default;
    }

    .brand-box {
        display: none;
    }

    .account-box {
        position: absolute;
        right: 70px;
        width: 160px;
        background-color: #ffbf00;
        padding: 6px 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: #000c38;

        .username-container {
            cursor: pointer;
            font-weight: 700;
            color: #fff;
            font-size: 18px;
            letter-spacing: 1px;
        }
        .login-btn,
        .sign-up {
            transition: .4s;
            cursor: pointer;
            color: #000c38;
            text-decoration: none;

            &:hover {
                color: #fbfbff;
            }
        }
    }

    .logout-btn {
        cursor: pointer;
    }
}

@media screen and (max-width: 670px) {
    .top-strip {
        padding: 0 20px;

        .left-text {
            display: none;
        }

        .brand-box {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                transform: scale(.8);
            }

            strong {
                font-weight: 700;
                font-size: 22px;
                cursor: pointer;
                color: #fff;
            }
        }

        .account-box {
            right: 20px;
        }
    }
}