<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            color: #181a1b;
            font-size: 20px;
            letter-spacing: 0.5px;
            word-spacing: 0.8px;
        }

        body {
            background-color: #181a1b;
        }

        .main-container {
            background-color: #fff2c8;
            width: 550px;
            height: 88vh;
            margin: 20px auto;
            text-align: center;
            border: 1.5px solid grey;
            box-shadow: 5px 10px 15px #888888;
            border-radius: 5px;
        }

        td {
            text-align: start;
            text-align: justify;
        }

        .header-logo {
            display: flex;
        }

        .logo-img-link {
            text-decoration: none;
        }

        img {
            height: 60px;
            width: auto;
            padding: 0px 150px 0px 50px;
            margin: 30px 0;
        }

        h1 {
            margin: 45px 0 30px 0;
            padding: 0px 30px;
            text-align: center;
        }

        .OTPtext {
            margin: 20px 30px;
            text-align: center;
        }

        .code {
            text-align: center;
            padding: 20px 30px;
            color: #00ae00;
            font-weight: 600;
            font-size: 30px;
        }

        .footer-text {
            margin: 20px 30px;
            text-align: center;
        }

        .thankyou {
            margin: 20px 30px 40px 30px;
        }

        @media screen and (max-width:600px) {
            * {
                word-spacing: 0.3px;
                letter-spacing: 0.4px;
                line-height: 20px;
            }

            .main-container {
                margin: 0;
                width: auto;
                height: auto;
            }

            img {
                padding: 0px 40px;
            }

        }

        @media screen and (max-width:450px) {
            * {
                word-spacing: 0.1px;
                letter-spacing: 0.4px;
                font-size: 16px;
            }

            img {
                padding: 0px 30px;
            }

        }
    </style>
</head>

<body>
    <table class="main-container">
        <tr class="header">
            <td class="header-logo">
                <a href="http://localhost:3000" class="image-link">
                    <img src="cid:logo" alt="logo">
                </a>
                <h1>Verify your new SoftLand account</h1>
            </td>
        </tr>
        <tr class="otp-text">
            <td>
                <p class="OTPtext"> To verify your email address, please use the following One Time Password(OTP):
                </p>
            </td>
        </tr>
        <tr class="otp-code">
            <td class="code">
                <%= OTP %>
            </td>
        </tr>
        <tr class="footer">
            <td>
                <p class="footer-text">
                    Do not share this OTP with anyone. SoftLand takes your account security very seriously. SoftLand
                    will never ask you to disclose or verify your SoftLand password or OTP. if you receive a suspicious
                    email with a link to update your account information, do not click on the link.
                </p>
            </td>
        </tr>
        <tr class="thankyou">
            <td class="thankyou">
                <p class="thankyou">Thank you!</p>
            </td>
        </tr>
    </table>
</body>

</html>