.footer-wave {
  transform: scaleY(0.6) translateY(120px);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff, #bdb4b0, #635e5c);
}
.footer .footer-main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 90px;
  justify-content: space-between;
  width: 100%;
  min-height: 350px;
}
.footer .footer-main-box .about-us-column {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.footer .footer-main-box .about-us-column .brand-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer .footer-main-box .about-us-column .brand-box img {
  transform: scale(0.9);
}
.footer .footer-main-box .about-us-column .brand-box strong {
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  color: #555;
}
.footer .footer-main-box .about-us-column .about-col-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  color: #555555;
  cursor: default;
}
.footer .footer-main-box .about-us-column .about-col-text::selection {
  background-color: var(--main-color);
  color: #fff;
}
.footer .footer-main-box .about-us-column .social-media-icons-wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-top: 10px;
}
.footer .footer-main-box .about-us-column .social-media-icons-wrapper svg {
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}
.footer .footer-main-box .about-us-column .social-media-icons-wrapper svg:hover {
  transform: scale(1.2);
}
.footer .footer-main-box .about-us-column .social-media-icons-wrapper svg:hover.youtube, .footer .footer-main-box .about-us-column .social-media-icons-wrapper svg:hover.pinterest {
  color: red;
}
.footer .footer-main-box .about-us-column .social-media-icons-wrapper svg:hover.threads {
  color: #000;
}
.footer .footer-main-box .about-us-column .social-media-icons-wrapper svg:hover.telegram {
  color: #0018f0;
}
.footer .footer-main-box .about-us-column .social-media-icons-wrapper svg:hover.insta {
  color: #ed0d32;
}
.footer .footer-main-box .footer-column {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 50px;
  font-size: 18px;
}
.footer .footer-main-box .footer-column-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
  padding-bottom: 5px;
  width: 50%;
  cursor: default;
  user-select: none;
  border-bottom: 2px var(--main-color) solid;
}
.footer .footer-main-box .footer-column-link {
  margin: 5px 0;
  text-decoration: none;
  color: #555555;
  font-size: 1rem;
}
.footer .copy-right-wrapper {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 100px;
}
.footer .copy-right-wrapper .copy-right-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  cursor: default;
  margin: 0;
}
.footer .copy-right-wrapper .copy-right-links {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.footer .copy-right-wrapper .copy-right-links a {
  text-decoration: none;
  color: #fff;
}/*# sourceMappingURL=Footer.css.map */