
#userImage {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px;
  }
  #userImage:hover {
    transform: scale(1.4, 1.4);
  
    transition: all 2s;
  }
  
  .user {
    flex: 4;
    padding: 20px;
    min-height: 100vh;
  }
  
  .productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .productTop {
    height: auto;
    box-shadow: 0px -3px 5px 0px #888888;
    background-color: #eafdfa;
  }
  .productTopRight {
    margin-right: 50px;
    width: auto;
    height: auto;
    text-align: start;
    align-items: start;
  }
  
  .productInfiTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .productNmae {
    font-weight: 600;
  }
  
  .userListUser {
  }
  
  .userListImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .userBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    padding: 30px 0;
    margin: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -3px 5px 0px #888888;
    background-color: #fff;
    background-color: #e5fffb;
    background-color: #eafdfa;
  }
  .userOrders {
    text-align: center;
  }
  
  
  
  .userInfoItem {
    border-bottom: 1px solid #06a99d;
    width: 400px;
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 8px;
    background-color: blueviolet;
  }
  
  .productInfoKey {
  }
  .productInfoValueInput {
    height: 40px;
    border: none;
    text-align: end;
    font-size: 16px;
    background-color: #e5fffb;
    width: 200px;
    border-radius: 5px;
  }
  
  .blockBtn {
    text-align: center;
    margin-top: 30px;
  }
  
  .block,
  .unblock {
    background-color: #06a99d;
    margin: 10px;
    border: none;
    font-size: 16px;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  .block {
    background-color: rgba(255, 0, 0, 0.651);
  }
  
  .productInfoItem {
    width: 400px;
    padding: 14px;
    border: none;
    border-right: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 1px solid rgb(226, 226, 226);
  }
  .productInfoBottom {
    margin-top: 40px;
 
    width: fit-content;
  }
  