@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.signup-page-container
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
/* .signup-page-container::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fff,#a4b3d4b7,#fff);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(100%);
  }
  100%
  {
    transform: translateY(-100%);
  }
} */
.signup-page-container .bg-square 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #e6e6e6;
  z-index: 2;
  border-radius: 5px;
  opacity: .95;
  transition: 1.5s;
}
.signup-page-container .bg-square:hover 
{
  background: #00bd29;
  transition: 0s;
}

.signup-page-container .sign-up
{
  position: absolute;
  width: 400px;
  background: #11005b;  
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,.9);
}
.signup-page-container .sign-up img {
    transform: scale(1.3);
}
.signup-page-container .sign-up .form-container 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.signup-page-container .sign-up .form-container .form-title 
{
  font-size: 2em;
  color: #0f0;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.signup-page-container .sign-up .form-container .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.signup-page-container .sign-up .form-container .form .inputBox
{
  position: relative;
  width: 100%;
}
.signup-page-container .sign-up .form-container .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #1c036e;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.signup-page-container .sign-up .form-container .form .inputBox input:focus {
    background-color: #2b15a4;
}
.signup-page-container .sign-up .form-container .form .inputBox input[type="submit"]:focus {
  background-color: #0f0;
}
.signup-page-container .sign-up .form-container .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.sign-up .form-container .form .inputBox input:valid ~ i,
.sign-up .form-container .form .inputBox input:focus ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.sign-up .form-container .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sign-up .form-container .form .links .login-link
{
  color: #fff;
  text-decoration: none;
  color: #0f0;
  font-weight: 600;
}
.sign-up .form-container .form .inputBox .form-btn
{
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
@media (max-width: 900px)
{
  .signup-page-container .bg-square 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  .signup-page-container .bg-square 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}

.otp-modal-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000057;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.otp-modal-bg .otp-modal {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.otp-modal-bg .otp-modal .otp-input {
  outline: none;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 10px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
}