.form_page_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background: linear-gradient(to left, #06a99d, #015a54);
    padding-right: 10%;

    .form_bg_container {
        position: absolute;
        left: 0;
        width: 800px;
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
        background-color: aliceblue;
        animation: 1s linear showBg;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 30px;
        padding-left: 40px;

        .logo {
            width: 50px;
        }

        .text_container {
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;

            .softland {
                font-size: 70px;
                font-weight: 700;
                color: var(--main-color);
                font-family: pac;
                cursor: default;
                position: relative;
                text-align: center;

                &::after {
                    content: "";
                    width: 400px;
                    height: 3px;
                    border-radius: 10px;
                    position: absolute;
                    background-color: var(--main-color);
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .info_text {
                text-align: center;
                color: #ffaa00;
                font-weight: 700;
                font-size: 22px;
                margin-top: 20px;
            }

            .rules_list {
                list-style-type: none;
                width: 400px;
                display: flex;
                align-items: baseline;
                justify-content: flex-start;
                flex-direction: column;
                gap: 30px;
                padding-left: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 17px;
                font-weight: 500;
                color: #031e35;
                margin-top: 20px;

                .ruleItem {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;
                    text-align: left;

                    svg {
                        color: #ffaa00;
                        font-size: 25px;
                    }
                }
            }
        }

        @keyframes showBg {
            0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            }

            30% {
                clip-path: polygon(0 0, 0 0, 40% 100%, 0 100%);
            }

            100% {
                clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
            }
        }
    }

    .form_container {
        width: 340px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding-block: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 10px #e9fdfb, -4px 4px 10px #e9fdfb, 4px -4px 10px #e9fdfb, -4px -4px 10px #e9fdfb;
        background-color: #ffffff;
        animation: showForm 1s linear;

        @keyframes showForm {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        .form_title {
            font-family: acm;
            font-size: 30px;
            position: relative;
            margin-bottom: 10px;

            &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 300px;
                height: 3px;
                border-radius: 5px;
                background-color: var(--main-color);
            }
        }

        .form_items {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 40px;
            margin-top: 20px;

            .inputBox {
                width: 70%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid #90cdc9;
                gap: 0;
                padding-left: 5px;

                svg {
                    color: #0e7d75;
                }

                input {
                    width: 90%;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    padding: 3px 10px;
                    font-size: 18px;
                    background-color: unset;
                    font-family: acm;
                    color: #333;
                    font-weight: 600;
                    z-index: 2;
                    background-color: #f0f8ff00;
                    letter-spacing: 1px;

                    &:focus~.placeHolder,
                    &:valid~.placeHolder {
                        left: 0;
                        top: -10px;
                        color: #015a54;
                        font-size: 12px;
                    }
                }

                .placeHolder {
                    position: absolute;
                    left: 45px;
                    font-size: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #90cdc9;
                    font-weight: 600;
                    transition: .5s;
                    z-index: 1;
                }
            }
        }

        .formBtn {
            width: 200px;
            border: none;
            border-radius: 5px;
            background: linear-gradient(20deg, #015a54, #0e7d75);
            color: #fff;
            font-size: 26px;
            font-family: acm;
            padding: 5px 0;
            margin-top: 40px;
        }

        .question {
            color: #555;
            font-weight: 600;
            margin-top: 10px;
            font-family: acm;
            letter-spacing: 1px;

            a {
                text-decoration: none;
            }
        }
    }

    .otp_modal_bg {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #015a547f;
        backdrop-filter: blur(10px);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        .otp_modal {
            width: 400px;
            border-radius: 10px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            padding-block: 30px;
            gap: 10px;
            position: relative;

            .closer {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: red;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 0;
                top: 0;
                font-size: 25px;
                cursor: pointer;
            }
            .otp_title {
                font-family: acm;
                font-size: 22px;
                font-weight: 600;
            }

            .check_way_text {
                color: #555;
                font-family: acm;
                font-weight: 500;
            }

            .otp_input {
                border-radius: 5px;
                padding: 5px;
                outline: none;
                border: 1px solid #c0c0c0;
                text-align: center;
                font-size: 20px;
                color: #015a54;
                font-family: acm;
                font-weight: 600;
                letter-spacing: 5px;
            }

            .otp_verification_btn {
                width: 180px;
                border-radius: 10px;
                padding: 5px 10px;
                border: none;
                background-color: #015a54;
                color: #fff;
                font-weight: 600;
                font-family: acm;
                margin-top: 10px;
                font-size: 18px;
            }
        }
    }
}
.recaptcha{
    margin-top: 20px;
}