.product-card {
  width: 270px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 0 7px 7px 7px;
  gap: 10px;
  cursor: pointer;
  background-color: #f9f8f8;
  transition: 0.5s;
  position: relative;
  text-decoration: none;
}
.product-card .status {
  position: absolute;
  left: 2px;
  top: 0;
  border-radius: 0 0 5px 0;
  z-index: 88;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  width: 50px;
  padding: 2px 0;
}
.product-card .status.new-product {
  background-color: var(--main-color);
}
.product-card .status.sale {
  background-color: #00B7F1;
}
.product-card:hover {
  box-shadow: var(--box-shd);
}
.product-card .img-wrapper {
  width: 100%;
  position: relative;
  z-index: 10;
  border-radius: 0 7px 0 0;
}
.product-card .img-wrapper:hover .icon-wrapper {
  transform: scale(1);
}
.product-card .img-wrapper .icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  cursor: pointer;
  transform: scale(0);
  box-shadow: var(--box-shd);
  transition: 0.5s;
}
.product-card .img-wrapper .icon-wrapper:nth-of-type(1) {
  bottom: 120px;
}
.product-card .img-wrapper .icon-wrapper:nth-of-type(2) {
  bottom: 70px;
  transition-delay: 0.07s;
}
.product-card .img-wrapper .icon-wrapper:nth-of-type(3) {
  bottom: 20px;
  transition-delay: 0.14s;
}
.product-card .img-wrapper .icon-wrapper:hover {
  background-color: var(--main-color);
}
.product-card .img-wrapper .icon-wrapper:hover .action-icon {
  color: #fff;
}
.product-card .img-wrapper .icon-wrapper .action-icon {
  font-size: 18px;
  color: #555;
  z-index: 10;
  transition: 0.5s;
}
.product-card .img-wrapper img {
  border-radius: inherit;
}
.product-card .detail-box {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 100%;
}
.product-card .detail-box .categoryName {
  color: rgba(117, 117, 117, 0.7098039216);
  font-weight: 400;
  font-size: 14px;
}
.product-card .detail-box .product-name {
  font-size: 20px;
  font-weight: 400;
  color: #555;
}
.product-card .end-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  justify-content: space-between;
}
.product-card .end-row .price-part {
  width: 50%;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 18px;
}
.product-card .end-row .price-part .old-price {
  color: #CCCCCC;
  position: relative;
  padding: 0 4px;
}
.product-card .end-row .price-part .old-price::after {
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #CCCCCC;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
}
.product-card .end-row .price-part .current-price {
  color: var(--main-color);
  font-weight: 700;
}
.product-card .end-row .rate-box svg {
  font-size: 14px;
}
.product-card .end-row .rate-box .colored-star {
  color: var(--main-color);
}
.product-card .end-row .rate-box .grey-star {
  color: #adadad;
}/*# sourceMappingURL=ProductCard.css.map */