.top-bar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
}
.top-bar .brand-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.top-bar .brand-box img {
  transform: scale(0.9);
}
.top-bar .brand-box strong {
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  color: #555;
}
.top-bar .search-box {
  width: 500px;
  border-radius: 7px;
  border: 2px solid var(--main-color);
  display: flex;
}
.top-bar .search-box input {
  flex: 1;
  outline: none;
  border: none;
  padding: 4px 15px;
  border-radius: inherit;
  font-size: 18px;
}
.top-bar .search-box input::placeholder {
  color: #cdcdcd;
}
.top-bar .search-box .search-filter-select-box {
  width: 120px;
  height: 40px;
  border: none;
  text-align: center;
  color: #3f3f3f;
  background-color: #f0f0f0;
  outline: none;
  position: relative;
  border-left: 1px gray solid;
}
.top-bar .search-box .search-filter-select-box .selected-collection {
  width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  cursor: pointer;
}
.top-bar .search-box .search-filter-select-box .selected-collection svg {
  position: absolute;
  right: 12px;
  font-size: 20px;
  color: #3f3f3f;
  top: 50%;
  transform: translateY(-50%);
}
.top-bar .search-box .search-filter-select-box .search-filter-select-list {
  position: absolute;
  z-index: 5;
  width: 152px;
  transform: translate(-33px, 0);
  clip-path: polygon(0 0, 100% 0, 0 0, 0 42%);
  transition: 0.5s;
}
.top-bar .search-box .search-filter-select-box .search-filter-select-list.opened {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.top-bar .search-box .search-filter-select-box .search-filter-select-list li {
  list-style-type: none;
  background-color: var(--main-color);
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.top-bar .search-box .search-filter-select-box .search-filter-select-list li:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.top-bar .search-box .search-filter-select-box .search-filter-select-list li:nth-last-child(1) {
  border-radius: 0 0 10px 10px;
}
.top-bar .search-box .search-btn {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  background-color: var(--main-color);
  transition: 0.4s;
}
.top-bar .search-box .search-btn:hover {
  box-shadow: 3px 3px 8px var(--main-color), 3px -3px 8px var(--main-color);
}
.top-bar .user-icons-box {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
}
.top-bar .user-icons-box .user-icon {
  position: relative;
  cursor: pointer;
  transition: 0.4s;
  color: #555;
}
.top-bar .user-icons-box .user-icon:hover {
  color: var(--main-color);
}
.top-bar .user-icons-box .user-icon .badge {
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

@media screen and (max-width: 1000px) {
  .top-bar {
    padding: 0 20px;
  }
  .top-bar .search-box {
    width: 55%;
  }
  .top-bar .search-box .search-filter-select-box {
    width: 100px;
  }
  .top-bar .search-box .search-filter-select-box .selected-collection {
    width: 100px;
  }
  .top-bar .search-box .search-filter-select-box .search-filter-select-list {
    width: 135px;
  }
  .top-bar .user-icons-box {
    width: 120px;
  }
}
@media screen and (max-width: 768px) {
  .top-bar {
    padding: 0 30px;
  }
  .top-bar .brand-box strong {
    font-size: 18px;
  }
  .top-bar .search-box {
    width: 70%;
  }
  .top-bar .user-icons-box {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .top-bar {
    justify-content: center;
    padding: 0;
  }
  .top-bar .brand-box {
    display: none;
  }
  .top-bar .search-box {
    width: 95%;
  }
}/*# sourceMappingURL=TopBar.css.map */