.tickets {
  flex: 4;
  padding: 20px;
  margin: 60px 0 0 280px;
  background-color: #f3eada;
  min-height: 100vh;
}

.ticketsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticketsBottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  padding: 10px 0;
  margin: 40px 0px;
  box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -3px 5px 0px #888888;
  background-color: #fff;
  background-color: #e5fffb;
  background-color: #eafdfa;
}

.usertickets {
  width: 100%;
  margin: 1px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.userTicketBox {
  /* background-color: yellow; */
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  margin-bottom: 20px;
}

.userTcketBoxTitle {
  /* background-color: darkblue; */
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
.userTicketBoxDes {
  /* background-color: palevioletred; */
  padding: 10px;
}

.userTicketBoxBtns {
}
.TicketAnswer {
  font-size: 13px;
  font-weight: 600;
  padding: 1px 3px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
  margin-right: 5px;
  background-color: #06a99d;
  color: #fff;
}

.TicketIgnore {
  font-size: 13px;
  font-weight: 600;
  padding: 1px 3px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 7px;
  background-color: rgb(228, 67, 67);
  color: #fff;

}

.userTcketBoxHearder {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 8px;
  border-bottom: 1px solid rgb(202, 202, 202);
  background-color: #e3fffb;
}

.userTicketBoxFooter {
  background-color: #f3eada;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  border-top: 1px solid rgb(202, 202, 202);
}
.TicketDate {
}
.TicketUserId {
  /* background-color: yellow; */
  /* margin-right: 3px; */
}

.userTicketBoxAnswer {

  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: end;
}
.userTicketBoxAnswerDISACTIVE{
  display: none;
}
.userTicketBoxAnswerTitle {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 18px;
  border-bottom: 1px solid rgb(202, 202, 202);
  background-color: #e3fffb;
  text-align: start;
}
.userTicketBoxAnswerDes {
 
}
#userTicketBoxAnswerDes {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(202, 202, 202);
  height: 100%;
  height: 120px;
  
}
#userTicketBoxAnswerBtn {
  /* font-size: 13px; */
  font-weight: 600;
  /* padding: 1px 3px; */
  border: 1px solid #06a99d;
  border-radius: 0px  0px 5px 5px;
  /* margin: 5px; */
  width: 100%;
  background-color: #06a99d;
  color: #fff;
  height: 35px;
  

}
