* {
    margin: 0;
}

.containerMain {
    display: flex;
}

.sidBarPosition {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    z-index: 999;
}

.topBarPosition {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}

.adminPanelContentContainer {
    width: calc(100vw - 280px);
    min-height: calc(100vh - 100px);
    position: absolute;
    right: 0;
    top: 100px;
    padding: 50px 30px;
}