.helpSection {
    width: calc(100% - 280px);
    height: fit-content !important;
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0 50px 0;
    background-color: #f4f4ec;
    border-radius: 10px;
    animation: showFiledsWrapper .6s linear;

    @keyframes showFiledsWrapper {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .title {
        font-family: pac;
    }

    .accordion {
        width: 80%;

        a {
            text-decoration: none;
        }
    }
}