.panel-topbar {
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 150px;
  width: calc(100vw - 180px);
  display: flex;
  align-items: center;
  border-bottom: 3px solid gray;
  z-index: 999;
  background-color: #fff;
}

.panel-topbar .admin-name {
  font-family: lemon;
  text-transform: capitalize;
}

.panel-topbar .admin-logout-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-family: lemon;
  background-color: #df0000;
  color: #fff;
}