.panel-topbar {
  background-color: #edfff7;
  height: 100px;
  box-shadow: 2px 2px 10px #d9d9d9;
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 30px;
  width: calc(100vw - 280px);
  display: flex;
  align-items: center;
}

.panel-topbar .admin-name {
  font-family: lemon;
  text-transform: capitalize;
}

.panel-topbar .admin-logout-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-family: lemon;
  background-color: #df0000;
  color: #fff;
}